<div class="d-flex flex-sm-row flex-column p-0 justify-content-between">
  <div class="input-group date midle mb-2 mb-sm-0">
    <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
    <input type="text" class="form-control" aria-label="date" placeholder="Create on: Jan/10/21 - Jan/28/21" disabled>
    <span class="input-group-text"><i class="fa fa-chevron-down"></i></span>
  </div>
  <select class="form-control select midle mb-2 mb-sm-0">
    <option value="" selected disabled>Contact type</option>
  </select>
  <select class="form-control select midle mb-2 mb-sm-0">
    <option value="" selected disabled>Contractor Name</option>
  </select>
  <select class="form-control select mb-2 mb-sm-0">
    <option value="" selected disabled>Status</option>
  </select>
</div>