<app-panel></app-panel>
<div class="d-flex flex-column justify-content-center p-0 m-0 position-relative">
    <div class="title w-100 p-5 text-center">
        <h1 class="font-weight-bold ">Contracts for Client</h1>
    </div>
    <div class="d-flex flex-column m-auto w-75 p-2">
        <!-- search component -->
        <app-search></app-search>
        <!-- filter module -->
        <app-contractor-filter></app-contractor-filter>
        <!-- app table -->
        <app-table></app-table>
    </div>
    <div class="position-absolute bottom-0 end-0">
        <app-float-menu></app-float-menu>
    </div>
    
</div>
