<div class="d-flex flex-sm-row flex-column mb-3 justify-content-between">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-sm-8 mb-2 m-0">
                <input type="text" class="search form-control w-100 mb-2 mb-sm-0 w-100" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome"/>
            </div>
            <div class="col-sm-4">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-4">
                            <button class="filter w-100"><i class="fa fa-sliders-h"></i> Filter</button>
                        </div>
                        <div class="col-8">
                            <button class="new w-100"><i class="fa fa-plus"></i> New hire</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
